<div title="My div">
    <div class="level">
        <div class="level-left">
            <p><%= shared_with(@member) %></p>
        </div>
        <div class="level-right">
            <%= button "Remove", 
                    class: "button is-danger is-small is-light", 
                    to: Routes.page_path(@conn, :index) 
            %>
        </div>
    </div>
</div>