<div class="full-page mt-0">
  <div class="centered-form">
    <%= link "← Back to Mushaf", to: Routes.codex_path(@conn, :show_page, @conn.assigns.mushaf_id, @page_no) %>
    <h1 class="title is-4">Settings</h1>
        <h4 class="title is-5">
            Shared With
        </h4>

        <%= for member <- @shared_with do %>
            <%= render "_show_member.html", conn: @conn, member: member %>
        <% end %>
  </div>
</div>
