<main>
  <%= if get_flash(@conn, :info) do %>
    <div class="message is-info">
      <p class="message-body" role="alert"><%= get_flash(@conn, :info) %></p>
    </div>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
    <div class="message is-danger">
      <p class="message-body alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>
  <% end %>
  <%= @inner_content %>
</main>
