/* This file is for your main application CSS */
@import "./phoenix.css";
@import "bulma";

$phoenix-orange: #f05423;
.phx-hero {
  h1 {
    color: $phoenix-orange;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5vh;
  padding-bottom: 0;
}

.navbar {
  // height: 5vh;
}

.container {
  width: 100vw;
  height: 95vh;
}

.centered-form {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  margin-bottom: 5vh;
}

.input-field {
  width: 70vw;
}

.checkbox-with-label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.form-checkbox {
  flex-shrink: 1;
}
.form-fields {
  display: flex;
  flex-direction: column;
}

.basmalah {
  text-align: center;
}

#mushaf-create-button {
  margin-bottom: 5vh;
}

.full-page {
  height: 95vh;
  width: 100vw;
}

.login-helper-links {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0.25rem;
}

.mushaf-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.mushaf-page {
  width: 90vw;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.mushaf-spread {
  width: 90vw;
  display: flex;
  flex-direction: column-reverse;

}

.quran-text {
  font-family: 'KFGQPC Uthman Taha Naskh';
  font-size: 1.5rem;
  direction: rtl;
  text-align: justify;
  line-height: 1.6em;
}

.surah-heading {
  background-color: #E2F3E4;
  border: 2px solid green;
  text-align: center;
}

.ayah {
  display: inline;
}

.mushaf-create-spread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.mushaf-image {
  max-width: 60vw;
  max-height: 50vh;
}

@media screen and (min-width: 800px) {
  .centered-form {
    width: 50vw;
  }

  .form-fields {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-field {
    width: 30vw;
  }

  .mushaf-image {
    max-width: 250px;
    max-height: 390px;
  }

  .mushaf-create-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .mushaf-page {
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .mushaf-spread {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
  }

  .page-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .page-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

/* Alerts and form errors used by phx.new */
// .alert {
//   padding: 15px;
//   margin-bottom: 20px;
//   border: 1px solid transparent;
//   border-radius: 4px;
// }
// .alert-info {
//   color: #31708f;
//   background-color: #d9edf7;
//   border-color: #bce8f1;
// }
// .alert-warning {
//   color: #8a6d3b;
//   background-color: #fcf8e3;
//   border-color: #faebcc;
// }
// .alert-danger {
//   color: #a94442;
//   background-color: #f2dede;
//   border-color: #ebccd1;
// }
// .alert p {
//   margin-bottom: 0;
// }
// .alert:empty {
//   display: none;
// }
// .invalid-feedback {
//   color: #a94442;
//   display: block;
//   margin: -1rem 0 2rem;
// }

// /* LiveView specific classes for your customization */
// .phx-no-feedback.invalid-feedback,
// .phx-no-feedback .invalid-feedback {
//   display: none;
// }

// .phx-click-loading {
//   opacity: 0.5;
//   transition: opacity 1s ease-out;
// }

// .phx-loading{
//   cursor: wait;
// }

// .phx-modal {
//   opacity: 1!important;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgba(0,0,0,0.4);
// }

// .phx-modal-content {
//   background-color: #fefefe;
//   margin: 15vh auto;
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%;
// }

// .phx-modal-close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .phx-modal-close:hover,
// .phx-modal-close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }

// .fade-in-scale {
//   animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
// }

// .fade-out-scale {
//   animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
// }

// .fade-in {
//   animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
// }
// .fade-out {
//   animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
// }

// @keyframes fade-in-scale-keys{
//   0% { scale: 0.95; opacity: 0; }
//   100% { scale: 1.0; opacity: 1; }
// }

// @keyframes fade-out-scale-keys{
//   0% { scale: 1.0; opacity: 1; }
//   100% { scale: 0.95; opacity: 0; }
// }

// @keyframes fade-in-keys{
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }

// @keyframes fade-out-keys{
//   0% { opacity: 1; }
//   100% { opacity: 0; }
// }
